body {
  font-family: 'Roboto', sans-serif;
  padding: 24px;
  background-color: hsl(228deg 45% 96%);
}

* {
  margin: 0;
}

.summary-box-container {
  background-color: hsl(0deg 0% 100%);
  padding: 1.5rem;
}

.summary-box-text {
  color: hsl(218deg 19% 43%);
}

.summary-box-number,
.profit-box-number {
  margin: 10px 0;
}

.summary-box-time-container>p {
  color: hsl(214deg 17% 66%);
}


.summary-box-spec,
.profit-box-time-container {
  display: flex;
  justify-content: space-between;
}

.summary-box-time-container {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}

.summary-box-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}


.profit-box-sub-text {
  color: hsl(214deg 17% 66%);
  font-size: 0.9rem;
}

.profit-box-time-container>p:first-child {
  color: hsl(214deg 17% 66%);
}

.profit-box-time-container {
  margin: 10px 0 5px 0;
}

.monthly-profits-container {
  max-width: 500px;
  margin-top: 2rem;
  background-color: hsl(0deg 0% 100%);
  padding: 2rem;
}


/* mediaqueries */


@media screen and (min-width:500px) {
  .summary-box-list {
    grid-template-columns: 1fr 1fr;

  }
}

@media screen and (min-width:1200px) {
  .summary-box-list {
    grid-template-columns: repeat(4, 1fr);

  }
}